PORT=4000
NODE_ENV=development

# Local MySQL (use this for development)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=xeno_assignment
DB_USER=root
DB_PASSWORD=Recursion@123

SHOPIFY_API_KEY=f7cfb779814c24044017afd6ed6d9913
SHOPIFY_API_SECRET=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
SHOPIFY_ACCESS_TOKEN=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

WEBHOOK_SECRET=your_webhook_shared_secret
JWT_SECRET=dev_secret_key_change_in_production
